<template>
    <section class="section">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
        <div class="container">
            <h2 class="h2 is-size-2 has-text-centered">#JustRandomSmashUp</h2>
            <div class="columns">
                <div class="column is-narrow">
                    <ul v-if="errors && errors.length">
                        <li v-for="error of errors">
                            {{error.message}}
                        </li>
                    </ul>

                    <transition name="fade">
                        <form v-if="sets && sets.length">
                            <div class="box">
                                <ul>
                                    <li>
                                        <label class="checkbox is-italic is-whitespace-nowrap">
                                            <input type="checkbox" v-model="selected.have_all_sets">
                                            I have all the sets!
                                        </label>
                                        <hr>
                                    </li>
                                    <li v-for="set of sets">
                                        <label class="checkbox is-whitespace-nowrap">
                                            <input type="checkbox"
                                                    v-model="selected.sets"
                                                    :value="set"
                                                    :disabled="selected.have_all_sets">
                                            {{set.name}}
                                        </label>
                                    </li>
                                </ul>
                                <hr>
                                <div class="has-text-centered">How many players?</div>
                                <div class="buttons has-addons is-centered">
                                    <p class="control">
                                        <a class="button"
                                            v-scroll-to="'#response'"
                                            :disabled="!canSupport(2)"
                                            @click="canSupport(2) && startNewGame(2)"><span>2</span></a>
                                    </p>
                                    <p class="control">
                                        <a class="button"
                                            v-scroll-to="'#response'"
                                            :disabled="!canSupport(3)"
                                            @click="canSupport(3) && startNewGame(3)"><span>3</span></a>
                                    </p>
                                    <p class="control">
                                        <a class="button"
                                            v-scroll-to="'#response'"
                                            :disabled="!canSupport(4)"
                                            @click="canSupport(4) && startNewGame(4)"><span>4</span></a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </transition>
                </div>
                <div class="column" v-if="response" id="response">
                    <div class="columns" v-if="response.requires_madness || response.requires_treasure || response.requires_monsters">
                        <div class="column" v-if="response.requires_madness">
                            <div class="notification is-warning">
                                You're gonna need the Madness deck!
                            </div>
                        </div>
                        <div class="column" v-if="response.requires_treasure">
                            <div class="notification is-warning">
                                You're gonna need the Treasure deck!
                            </div>
                        </div>
                        <div class="column" v-if="response.requires_monsters">
                            <div class="notification is-warning">
                                You're gonna need the Monsters deck!
                            </div>
                        </div>
                    </div>
                    <div class="columns is-multiline is-gapless">
                        <div class="column is-one-quarter-fullhd is-half-desktop is-half-tablet" v-for="(player, index) in response.players">
                            <article :class="['message', 'is-' + response_colors[index]]">
                                <div class="message-header"><p v-text="'Player ' + (index + 1)"></p></div>
                                <div class="message-body">
                                    <ul>
                                        <li v-text="player[0]"></li>
                                        <li v-text="player[1]"></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    import axios from 'axios'
    import {map, each, values} from 'lodash'

    export default {
        props: ['api_url'],
        data() {
            return {
                errors: [],
                sets: [],
                response_colors: ['primary', 'info', 'link', 'dark'],
                selected: {
                    sets: [],
                    have_all_sets: false
                },
                response: {}
            }
        },
        methods: {
            canSupport: function(players) {
                // If all sets are available, all player counts are supported.
                if (this.selected.have_all_sets) {
                    return true
                }

                let factions = 0
                for (let i = 0; i < this.selected.sets.length; i++) {
                    factions += parseInt(this.selected.sets[i].factions)
                }
                return (players * 2) <= factions
            },
            startNewGame: function(players) {
                axios.get(this.api_url, {
                    params: {
                        players: players,
                        sets: this.selected.have_all_sets ? undefined : _.map(this.selected.sets, 'slug')
                    }
                }).then(response => {
                    this.response = response.data.data
                    if (typeof gtag === 'function') {
                        gtag('event', 'Set Up', {
                          // Event parameters
                          'event_category': 'Game',
                          'event_label': 'User set up a game',
                          'value': players
                          // ...
                        })
                    }
                }).catch((error) => {
                    this.errors = []
                    if (error.response) {
                        _.each(_.values(error.response.data), (value) => {
                            this.errors.push({message: value})
                        })
                    } else {
                        this.errors.push({message: 'Something\'s very wrong'})
                    }
                })
            }
        },
        created() {
            axios.get(this.api_url + '/sets')
                .then(response => {
                    this.sets = response.data.data
                }).catch(e => {
                    this.errors.push(e)
                })
        }
    }
</script>
<style>
.is-whitespace-nowrap {
    white-space: nowrap;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
.h2 {
    font-family: 'Amatic SC', cursive;
}
</style>
